<header class="navbar">
        <a href="/"><img class="logo" src="/assets/images/logo-prov.png"></a>
        <div class="logo-link">
        <a href=""><i class="ship-logo fa-brands fa-space-awesome py-2 fa-xl" style="color: #F97A52;"></i></a>
        <a href=""><i class="earth-logo fa-solid fa-earth-americas py-2 fa-xl" style="color: #F97A52;"></i></a>
        </div>
</header>
