<header class="navbar">
    <div class="first-part-header">
        <a href="/"><img class="logo-header" src="/assets/images/logo-prov.png"></a>
        <p class="name-header">Nova-Space</p>
    </div>
        <div class="logo-link">
        <a href=""><i class="ship-logo fa-brands fa-space-awesome py-2 fa-xl" style="color: #F97A52;"></i></a>
        <a href=""><i class="earth-logo fa-solid fa-earth-americas py-2 fa-xl" style="color: #F97A52;"></i></a>
        </div>
</header>
