{% extends layout.html.twig %}
{% block content %}
<div class="index-page">
<div class="text-index">
    <h1 class="index-title">WHAT'S SHIP'O RENT? </h1><br>
    <p class="describe-index">SHIP' O RENT is an intergalactic society.<br>
        A pioneer in its field, we offer tailor-made trips to Mars, Jupiter and Venus.<br>
        Ready to discover the solar system with one of our 6 ships?</p>
</div>
<div class="date">
    <p>DATE</p>
    <p>09/22/2096</p>
</div>
</div>
{% endblock %}
