{% extends 'layout.html.twig' %}
{% block title %}
    Planets
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/assets/css/planets.css">

    {# <script src="/JS/GSAP.js" defer></script>
    <script>
        gsap.to(".GSAP_test",{
            y: -300,
            x: -300,
            duration: 2,
        })
    </script>#}
<div class="SR_planets">
    <div class="SR_mercury_planets">
        <h3 class="SR_planets_names">MERCURY</h3>
        <img src="/assets/images/mercure.png" alt="image of mercury">
    </div>

    <div class="SR_mars_planets">
        <h3 class="SR_planets_names">MARS</h3>
        <img src="/assets/images/mars.png" alt="image of mars">
    </div>

    <div class="SR_venus_planets">
        <h3 class="SR_planets_names">VENUS</h3>
        <img src="/assets/images/venus.png" alt="image venus">
    </div>
</div>
    <div class="GSAP_test">

    </div>

{% endblock %}
