@import "index.css";
@import "allShips.css";
@import "showPlanet.css";
@import "ship.css";

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}



