.index-page{
    background-image: url("assets/index-background.jpg");
    color:white;
}

.index-title{
    font-family: 'Orbitron', sans-serif;
    letter-spacing : 10px
}

.describe-index{
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    letter-spacing : 5px;
    width:900px;
}

.date{
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    bottom: 0;
    right: 20px;
}
.text-index{
    margin-top: 8%;
    margin-left: 5%;
    max-width: 50%;
}

.ship-page{
    background-image: url('assets/vaisseau-background.jpg');
}

.link {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
