<header class="navbar">
    <img src="#" alt="logo">
    <div class="link">
        <a href=""><i class="fa-brands fa-space-awesome py-2 fa-xl" style="color: #F97A52;"></i></a>
        <a href=""><i class="fa-solid fa-earth-americas py-2 fa-xl" style="color: #F97A52;"></i></a>
    </div>
</header>
